.list-widget-main .show{
    width: 100%;
    height: 38px;
    padding-left:15px ;
    line-height: 38px;
    border: 1px solid #aaa;
}
.list-widget-main .list-main{
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    border: 1px solid #aaa;
    display: none;
    z-index: 1;
}
.list-widget-main .list-main li{
    background-color: #F5F5F5;
    padding-left:15px ;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #aaa;
}
